.c-button-group {
  & > .c-button {
    margin-right: 0.4rem;
  }
}

.c-button {
  padding: 0.8rem 3rem;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--gray-1);

  &:hover,
  &:focus {
    background-color: var(--purple-1);
    border: 1px solid var(--purple-1);
    color: white;
  }
}

.un-button {
  transition: background-color none;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  display: block;
}

.un-button:focus {
  outline: none;
}
